*{
    padding: 0;
    margin: 0;
    list-style: none;  
    text-decoration: none;
    box-sizing: border-box;
}

/* RESPONSIVIDADE */
html{
    width: 100%;
    height: 100vh;
    background-color: black;
}

/* ========================================================================================= */
/* CABEÇARIO INTEIRO */
header {
    width: 100%;
    height: 15vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 20px blueviolet;
    padding: 50px;
}
header div {
    display: flex;
    align-items: center;
}
/* LOGO */
header img {
    margin: auto;
    height: 12vh;
}
/* TÍTULO */
header h1 {
    margin: auto;
    font-size: 60px;
}
/* MENU */
header nav ul {
    margin: auto;
    display: flex;
    gap: 2rem;
}
header nav ul li a {
    color: aliceblue;
    font-size: 22px;
    
}
header button {
    margin: 50px;
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 900;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    border-color: blueviolet;
}


/* SESSÃO 1 */
.section1 {
    width: 100%;
    height: 40vw;
    background-image: url(../imagens/PRINCIPAL.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5vw;
}
.section1 div {
    width: 41vw;
    height: 30vh;
}
.section1 h2 {
    font-size: 52px;
    color: white;
    text-shadow: 0 0 20px blueviolet;
}
.section1 p {
    font-size: 28px;
    color: white;
}
.section1 button {
    margin-top: 1.5rem;
    width: 25vw;
    height: 5vh;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 5px 4px 32px blueviolet;
    background-color: black;
    color: aliceblue;
}
.section1box {
height: 60vh;
}
.section1box #qualidade {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: -70px;
}
.section1box #qualidade div {
    padding: 25px;
    height: 25rem;
    width: 22rem;
    border: solid 3px blueviolet;
    border-radius: 30px 2px;
    box-shadow: 0px 4px 20px blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.section1box #qualidade div img {
    width: 4vw;
    background-color: white;
    color: aliceblue;
    border-radius: 50%;
}
.section1box #qualidade div h3 {
    font-size: 25px;
    color: white;
} 
.section1box #qualidade div p {
    font-size: 18px;
    color: white;
}

/* SASSÃO 2 */  
.section2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: aliceblue;
    padding: 2rem;
}
/* SUBTITULO */
.section2 h2 {
    font-size: 60px;
    margin: 30px;
}
/* PARAGRAFO */
.section2 .p {
    font-size: 22px;
    margin: 0 20rem 1rem;
    text-align: center;
}
.section2 .SERV {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 5px;
}
.section2 .serv {
    box-shadow: 10px 10px 20px blueviolet;
    margin: 5rem auto;
    width: 23rem;
    height: auto;
    border-radius: 30px 0 30px 0;
}
.section2 .serv img {
    width: 23rem;
    height: 32vh;
    border-radius: 30px 0 0 0;
}
.section2 .serv p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 2vh;
}
.section2 .serv div {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 5vh;
    border-radius: 0 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.section2 .serv div a {
    color: rgb(195, 0, 255);
}   

/* RODAPÉ */
footer {
    background-color: blueviolet;
    width: 100%;
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer ul li {
    margin-bottom: 4px;
}
footer ul li a {
    color: black;
    font-weight: 800;
    font-size: 20px;
    text-decoration: underline;
}
footer .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .redes h3 {
    font-size: 25px;
    margin-bottom: -20px;
    text-decoration: underline;
}
footer .redes .rede {
    display: flex;
}
footer img {
    width: 8vh;
}