*{
    padding: 0;
    margin: 0;
    list-style: none;  
    text-decoration: none;
    box-sizing: border-box;
}

/* RESPONSIVIDADE */
html{
    width: 100%;
    height: 100vh;
}

/* ========================================================================================= */
/* CABEÇARIO INTEIRO */
header {
    width: 100%;
    height: 15vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 20px blueviolet;
}
/* LOGO */
header img {
    margin: auto;
    height: 5vh;
}
/* TÍTULO */
header h1 {
    margin: auto;
    font-size: 60px;
}
/* MENU */
header nav ul {
    margin: auto;
    display: flex;
    gap: 2rem;
}
header nav ul li a {
    color: aliceblue;
    font-size: 22px;
}
header button {
    margin: 50px;
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 900;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    border-color: blueviolet;
}

/* ========================================================================================= */
/* PRIMEIRA SESSÃO = NOS */
.nos {
    /* background-image: url(Colocar uma imagem de computador atras fixada); */
    width: 100%;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    margin-bottom: 50px;
}
.nos h2 {
    font-size: 60px;
}















































/* RODAPÉ */
footer {
    background-color: blueviolet;
    width: 100%;
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer ul li {
    margin-bottom: 4px;
}
footer ul li a {
    color: black;
    font-weight: 800;
    font-size: 20px;
    text-decoration: underline;
}
footer .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .redes h3 {
    font-size: 25px;
    margin-bottom: -20px;
    text-decoration: underline;
}
footer .redes .rede {
    display: flex;
}
footer img {
    width: 8vh;
}