*{
    padding: 0;
    margin: 0;
    list-style: none;  
    text-decoration: none;
    box-sizing: border-box;
}

/* RESPONSIVIDADE */
html{
    width: 100%;
    height: 100vh;
    background-color: black;
}

/* ========================================================================================= */
/* CABEÇARIO INTEIRO */
header {
    width: 100%;
    height: 15vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 20px blueviolet;
}
/* LOGO */
header img {
    margin: auto;
    height: 5vh;
}
/* TÍTULO */
header h1 {
    margin: auto;
    font-size: 60px;
}
/* MENU */
header nav ul {
    margin: auto;
    display: flex;
    gap: 2rem;
}
header nav ul li a {
    color: aliceblue;
    font-size: 22px;
}
header button {
    margin: 50px;
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 900;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    border-color: blueviolet;
}

/* ========================================================================================= */
/* PRIMEIRA SESSÃO = NOS */
.nos {
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.877) 8.3%,rgba(0, 0, 0, 0.692) 100%), url(../imagens/fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20rem;
    margin-bottom: 50px;
}
.nos h2 {
    font-size: 60px;
    color: white;
}
.nos p {
    font-size: 22px;
    color: white;
}
.nos div {
    background-color: black;
    opacity: 1;
    box-shadow: 5px 8px 20px blueviolet;
    padding: 35px;
    height: auto;
    border-radius: 30px 2px;
}

/* ========================================================================================= */
/* SEGUNDA SESSÃO = POSITIVOS */
.positivos {
    color: white;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.positivos .h3 {
    margin: -20px auto 30px;
    font-size: 35px;
}
.positivos #pontos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.positivos #pontos div {
    padding: 25px;
    height: auto;
    gap: 10px;
    border: solid 3px blueviolet;
    border-radius: 30px 2px;
    box-shadow: 0px 4px 20px blueviolet

}
.positivos #pontos div img {
    width: 3vw;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 50%;
}
.positivos #pontos div h3 {
    font-size: 25px;
    margin-bottom: 20px;
} 
.positivos #pontos div p {
    font-size: 18px;
}

/* ========================================================================================= */
/* TERCEIRA SESSÃO = COMENTARIO */
.comentario {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}
.comentario .box {
    color: aliceblue;
    background-color: rgb(14, 14, 14);
    box-shadow: 5px -2px 20px blueviolet;
    height:50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 20px;
    text-align: center;
    border-radius: 30px 2px;
}
.comentario .box div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25px;
    margin-bottom: 20px;
    
}
.comentario .box div img {
    width: 4vw;
    margin: 0 auto;
    border-radius: 100%;
}
.comentario .box div h4 {
    font-size: 25px;
}
.comentario .box p {
    font-size: 20px;
}













































/* RODAPÉ */
footer {
    background-color: blueviolet;
    width: 100%;
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer ul li {
    margin-bottom: 4px;
}
footer ul li a {
    color: black;
    font-weight: 800;
    font-size: 20px;
    text-decoration: underline;
}
footer .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .redes h3 {
    font-size: 25px;
    margin-bottom: -20px;
    text-decoration: underline;
}
footer .redes .rede {
    display: flex;
}
footer img {
    width: 8vh;
}