*{
    padding: 0;
    margin: 0;
    list-style: none;  
    text-decoration: none;
    box-sizing: border-box;
}

/* RESPONSIVIDADE */
html{
    width: 100%;
    height: 100vh;
}

/* ========================================================================================= */
/* CABEÇARIO INTEIRO */
header {
    width: 100%;
    height: 15vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 20px blueviolet;
}
/* LOGO */
header img {
    margin: auto;
    height: 5vh;
}
/* TÍTULO */
header h1 {
    margin: auto;
    font-size: 60px;
}
/* MENU */
header nav ul {
    margin: auto;
    display: flex;
    gap: 2rem;
}
header nav ul li a {
    color: aliceblue;
    font-size: 22px;
}
header button {
    margin: 50px;
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 900;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    border-color: blueviolet;
}


/* SESSÃO 1 */
.section1 {
    background-color: rgb(43, 42, 42);
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem;
}
/* CAIXA DE ATENÇÃO */
.section1 .atenção {
    background-color: black;
   box-shadow: 5px 10px 20px blueviolet;
    display: flex;
    align-items: center;
    width: 40vw;
    height: auto;
    padding: 10px;
    border-radius: 30px;
}
.section1 .atenção div {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section1 .atenção h2 {
    color: aliceblue;
    font-size: 40px;
    margin-bottom: 3rem;
}
.section1 .atenção p {
    color: aliceblue;
    font-size: 30px;
}

/* CAIXA DE ANUNCIO */
.section1 .anuncio {
    box-shadow: 5px 10px 20px blueviolet;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 auto;
    border-radius: 30px
}
.section1 .anuncio div {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section1 .anuncio img {
    border-radius: 30px 30px 0 0;
    margin: 0 auto -20px;
    width: 25vw;
    
} 
.section1 .anuncio button {
    background-color: black;
    color: aliceblue;
    height: 8vh;
    border-radius: 0 0 30px 30px;
    font-size: 25px;
}

/* SASSÃO 2 */  
.section2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: aliceblue;
    padding: 2rem;
}
/* SUBTITULO */
.section2 h2 {
    font-size: 60px;
    margin: 30px;
}
/* PARAGRAFO */
.section2 .p {
    font-size: 22px;
    margin: 0 20rem 1rem;
    text-align: center;
}
.section2 .SERV {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.section2 .serv {
    box-shadow: 10px 10px 20px blueviolet;
    margin: 5rem auto;
    width: 25vw;
    height: auto;
    border-radius: 30px 0 30px 0;
}
.section2 .serv img {
    width: 25vw;
    height: 32vh;
    border-radius: 30px 0 0 0;
}
.section2 .serv p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 2vh;
}
.section2 .serv div {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 5vh;
    border-radius: 0 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.section2 .serv div a {
    color: rgb(195, 0, 255);
}   

/* RODAPÉ */
footer {
    background-color: blueviolet;
    width: 100%;
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer ul li {
    margin-bottom: 4px;
}
footer ul li a {
    color: black;
    font-weight: 800;
    font-size: 20px;
    text-decoration: underline;
}
footer .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .redes h3 {
    font-size: 25px;
    margin-bottom: -20px;
    text-decoration: underline;
}
footer .redes .rede {
    display: flex;
}
footer img {
    width: 8vh;
}