*{
    padding: 0;
    margin: 0;
    list-style: none;  
    text-decoration: none;
    box-sizing: border-box;
}

/* RESPONSIVIDADE */
html{
    width: 100%;
    height: 100vh;
}

/* ========================================================================================= */
/* CABEÇARIO INTEIRO */
header {
    width: 100%;
    height: 15vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}
/* LOGO */
header img {
    margin: auto;
    height: 5vh;
}
/* TÍTULO */
header h1 {
    margin: auto;
    font-size: 60px;
}
/* MENU */
header nav ul {
    margin: auto;
    display: flex;
    gap: 2rem;
}
header nav ul li a {
    color: aliceblue;
    font-size: 22px;
}
header button {
    margin: 50px;
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 900;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    border-color: blueviolet;
}


/* SESSÃO 1 */
.section1 {
    background-color: rgb(15, 15, 15);
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem;
}
/* CAIXA DE ATENÇÃO */
.section1 .atenção {
    background-color: black;
    color: aliceblue;
    box-shadow: 5px 10px 20px blueviolet;
    display: flex;
    align-items: center;
    width: 40vw;
    height: auto;
    padding: 30px;
    border-radius: 30px
}
.section1 .atenção div {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section1 .atenção h2 {
    font-size: 35px;
    margin-bottom: 3rem;
}
.section1 .atenção p {
    font-size: 25px;
}

/* CAIXA DE ANUNCIO */
.section1 .anuncio {
    box-shadow: 5px 10px 20px blueviolet;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 auto;
    border-radius: 30px
}
.section1 .anuncio div {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section1 .anuncio img {
    border-radius: 30px 30px 0 0;
    margin: 0 auto -20px;
    width: 25vw;
    
} 
.section1 .anuncio button {
    background-color: black;
    color: aliceblue;
    height: 8vh;
    border-radius: 0 0 30px 30px;
    font-size: 25px;
}

/* SASSÃO 2 */  
.section2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: aliceblue;
    padding: 2rem;
}
/* SUBTITULO */
.section2 h2 {
    font-size: 60px;
    margin: 30px;
}
/* PARAGRAFO */
.section2 .p {
    font-size: 22px;
    margin: 0 20rem 1rem;
}
.section2 .SERV {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.section2 .serv {
    background-color: aqua;
    margin: 5rem auto;
    width: 25vw;
    height: auto;
    border-radius: 30px 0;
}
/* .section2 .serv img {} */
.section2 .serv p {
    font-size: 20px;
}
.section2 .serv div {
    background-color: blueviolet;
    width: 25vw;
    height: 5vh;
    margin-top: 20px;
    border-radius: 0 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.section2 .serv div a {
    color: black;
    font-weight: bold;
}   


/* RODAPÉ */
footer {
    background-color: aqua;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer ul li a {
    color: blueviolet;
    font-weight: 800;
}
footer div h3 {
    text-align: center;
}
footer .rede  {
    display: flex;
    gap: 30px;
}
