*{
    padding: 0;
    margin: 0;
    list-style: none;  
    text-decoration: none;
    box-sizing: border-box;
}

/* RESPONSIVIDADE */
html{
    width: 100%;
    height: 100vh;
}


/* CABEÇARIO INTEIRO */
header{
    width: 100%;
    background-color: black;
    color: aliceblue;
    display: flex;
    height: 15vh;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}
/* EDIÇÃO DAS DIV */
header div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
/* LOGO */
header div img {
    width: 5vw;
}

/* TEXO */
header div h1{
    font-size: 50px;
}

/* MENUS */
header div nav ul{
    display: flex;
}
header div nav ul li a{
    color: aliceblue;
    font-size: 20px;
    margin-left: 60px;
}

/* ORÇAMENTO */
header div a button{
    width: 8vw;
    height: 5vh;
    border-radius: 25px;
    font-size: 1.2em;
}